<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context">

      <content:annotation-config/>
      <content:component-scan base-package="ru.korus.model"/>

    <bean id="dataSource123" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@172.17.230.107:1521:devsfera" />
        <property name="username" value="edi_gui_sbr" />
        <property name="password" value="edi_gui_sbr" />
    </bean>
</beans>